

.testimonials__description {
    font-size: 15px;
    color: #676869;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    padding-top: 30px;
}
.testimonials-image{
    width: 128px;
}

.testimonials-wrapper-img {
    display: grid;
    grid-template-columns: repeat(11, 1fr); 
    gap: 5px;
    margin-top: 55px;
}

.testimonials-image {
    width: 100%;
  }

.testimonials-reviews-wrapper {
    padding: 75px;
}
  
  .testimonial-content {
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 30px 40px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.08);

  }
  .testimonial-content p {
    color: #676869;
    margin-top: 12px;
    font-size: 12px;

  }
  .testimonial-content span {
    color: #676869;
    font-size: 15px;
  }

  .testimonial-avatar {
    background-color: #1C2E58;
    border-radius: 50px;
    width: 39px;
    height: 39px;
  }

  @media (max-width: 500px) {
    .testimonials__description  {
        width: 300px;
    }
    .testimonials-wrapper-img {
        grid-template-columns: repeat(4, 1fr); /* 4 картинки в рядок */
        grid-template-rows: repeat(2, auto); /* Два рядки */
        max-width: 100%;
        gap: 3px;
    }
    .testimonials-wrapper-img img:nth-child(n+9) {
        display: none; /* Ховаємо всі картинки після 8 */
      }
    .swiper-button-prev:after, .swiper-button-next:after{
        font-size: 15px !important;
        color: #676869;
    }
    .swiper-button-prev, .swiper-button-next {
        top: 45% !important;
    }
    .testimonials-reviews-wrapper {
      padding: 37px 65px 1px;
  }
  }