
@import "./css/Hero.css";
@import "./css/Features.css";
@import "./css/About.css";
@import "./css/Order.css";
@import "./css/Testimonials.css";
@import "./css/FAQ.css";
@import "./css/InfoBanner.css";
@import "./css/Final.css";
:root {
  --main-title-color: #01005B; 
}

body {
  font-family: 'Sofia Pro', sans-serif;
  box-sizing: border-box;
  line-height: 23px;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--main-title-color);
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 30px;
}

h2 {
  color: var(--main-title-color);
  font-size: 32px;
  font-weight: bold;
}

.header {
  background: #f9f0e5;
  padding: 12px 0;
}

.logo-wrapper {
  width: 200px;
  height: 35px;
  margin-bottom: 60px;
}

.button-primary {
  width: 356px;
  height: 56px;
  background: #01005B;
}

button:hover {
  background-color: #0056b3;
}

.button-primary img {
  margin-left: 16px;
}
.image {
  width: 100%;
}

@media (max-width: 800px) {

  body {
    line-height: 18px;
  }
  .header span:not(.shipping) {
    display: none; 
}

.image__wrapper {
margin-top: 30px;
padding: 0 1x;
}

 .logo-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
 }

 h1 {
  text-align: center;
  font-size: 34px;
  padding-bottom: 0;
 }
 h2 {
  font-size: 26px;
  text-align:  center;
}

}

@media (max-width: 500px) {
  .button-primary {
    width: 100%;
     }
}

